go 1.25.5

use (
	./e2e
	./pkg/client
	./pkg/operator
	./pkg/proxy
	./pkg/termite
)

replace github.com/gomlx/gomlx => github.com/timkaye11/gomlx v0.0.0-20251221044952-ee84bc4bbaf7

replace github.com/gomlx/onnx-gomlx => github.com/timkaye11/onnx-gomlx v0.0.0-20251217194823-a871bb8cc687

replace github.com/knights-analytics/hugot => github.com/timkaye11/hugot v0.0.0-20251229042211-73e5b84f666d

replace github.com/knights-analytics/ortgenai => github.com/ajroetker/ortgenai v0.0.0-20251229052243-d2d8091589c4
